.library-item-container {
  height: 58px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: hsla(0, 0%, 100%, 0.02);
  margin-bottom: 12px;
}

.icon-folder {
  margin-right: 14px;
  font-size: 18px;
  color: hsla(0, 0%, 100%, 0.75);
  transition: color ease 0.3s;
}

.info {
  flex: 1;
  font-size: 0;
}

.text {
  color: hsla(0, 0%, 100%, 0.6);
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  display: inline-block;
  transition: color ease 0.3s;
}

.path {
  font-size: 14px;
  margin: 0;
  cursor: pointer;
  line-height: 18px;
}

.path:hover {
  text-decoration: underline;
}

.comment {
  font-size: 12px;
  margin: 0;
  margin-top: 4px;
  line-height: 16px;
}

.icon-setting {
  margin-left: 14px;
  font-size: 22px;
  color: hsla(0, 0%, 100%, 0.75);
  transition: color ease 0.3s;
  cursor: pointer;
}

.library-item-container:hover {
  background-color: hsla(0, 0%, 100%, 0.06);

  .icon,
  .path,
  .icon-setting {
    color: #fff;
  }
}

.library-action-menu {
  background-color: #191a1c;
  width: 180px;
  box-sizing: border-box;
  padding: 8px 0;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 35%);
}

.library-action-menu-item {
  background-color: #191a1c;
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
  list-style: none;
  display: block;
  padding: 0 20px;
  transition: all ease 0.3s;
}

.library-action-menu-item-disable {
  color: hsla(0, 0%, 100%, 0.3);
}

.library-action-menu-item:hover {
  background-color: hsla(0, 0%, 100%, 0.08);
  color: #fff;
}

.library-action-menu-item-disable:hover {
  background-color: #191a1c;
  color: hsla(0, 0%, 100%, 0.3);
}
