{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended"],
  "plugins": ["@typescript-eslint"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": [2, "always"],
    "indent": 0,
    "quotes": [2, "single"],
    "comma-dangle": [2, "always-multiline"],
    "@typescript-eslint/semi": ["error"],
    "@typescript-eslint/indent": ["error", 2],
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "multiline": {
          "delimiter": "semi",
          "requireLast": true
        },
        "singleline": {
          "delimiter": "semi",
          "requireLast": false
        }
      }
    ]
  }
}
