{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended"],
  "plugins": ["@typescript-eslint"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": [2, "always"],
    "indent": ["error", 2],
    "quotes": [2, "single"],
    "comma-dangle": [2, "always-multiline"],
    "@typescript-eslint/explicit-module-boundary-types": 0
  }
}
