.badge {
  background-color: rgba(0, 0, 0, 0.15);
  padding: 0 8px;
  border-radius: 4px;
  white-space: nowrap;
  transition: all ease 0.2s;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 16px;
  line-height: 1.5;
  display: inline-block;
}
