.library-list {
  margin: 0 auto;
  width: 980px;
}

.library-collect {
  display: flex;
  font-size: 12px;
  box-sizing: border-box;
  justify-content: space-between;
  margin: 20px 0;
  padding: 12px 20px;
  background-color: rgba(0, 0, 0, 0.15);
  align-items: center;
}

.library-collect-info {
  color: hsla(0, 0%, 100%, 0.45);
  margin: 0;
}
